*{
    margin: 0;
    padding: 0;
}
body{
    background-image: linear-gradient(to right, rgb(33, 147, 176), rgb( 109, 213, 237));
    display: flex;
    flex-direction: column;
}
.login-section-container{
    /* background-color: #00292d; */
    /* background-color: #00222e; */
    width: 50%;
    position: absolute;
    height: 100vh;
    display: inline-block;
}

.form-style{
    position: relative;
    top: 20%;
    /* background-color: green; */
    height: 25%;
}
.login-form-heading{
    position: relative;
    top: 30%;
    /* background-color: green; */
    height: 20%;
    text-align: center;
    text-transform: uppercase;
    font-family: sans-serif;
}
.username-filed{
    padding-bottom: 10px;
}
.password-filed{
    padding-bottom: 10px;
}
.format{
    font-size: 1.2rem;
    border-radius: 20px;
    position: relative;
    left: 32%;
    padding: 10px;
    font-family: FontAwesome;
    /* background-color: yellow */
}
.button-format{
    width: 35%;
    border-radius: 20px;
    position: relative;
    left: 32%;
    padding: 10px;
    background-color: rgb(27, 223, 27);
    color: white;
    font-size: 1.2rem;
    font-weight: bolder;
}
.button-format:active{
    border-radius: 20px;
    padding: 12px;
}
.login-image{
    /* background-color: blue; */
    height: 100vh;
    width: 50%;
    display: inline-block;
}
.image-position{
    /* background-color: black; */
    position: relative;
    top: 28%;
    left: 25%;
}

/* admin page css */

.admin-page-buttons-container{
    display: grid;
    row-gap: 10px;
    position: absolute;
    top: 41%;
    left: 60%;
    width: 25%;
}
.buttons{
    width: 70%;
    border-radius: 20px;
    padding: 10px;
    background-color: rgb(27, 223, 27);
    color: white;
    font-size: 1.2rem;
    font-weight: bolder;
    color: black;
    /* border: none; */
}
.buttons:nth-child(2){
    background-color: white;
}
.admin-image{
    /* background-color: blue; */
    height: 100vh;
    width: 50%;
    display: inline-block;
}
.green-style{
    height: 100vh;
    position: absolute;
    top: 0%;
    right: 0%;
}

/* worker page CSS */

table{
    border-collapse: collapse;
    border: 1px solid;
    width: 100%;
}
th{
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    background-color: #129C12;
    font-size: 1.5rem;
    color: white;
}

td{
    border: 1px solid;
    padding: 8px;
    text-align: center;
    background-color:rgb(27, 223, 27) ;
    font-size: 1.2rem;
}
.worker-heading{
    display: inline-block;
    padding: 40px;

}
.worker-add-button{
    background-color: orange;
    padding: 10px;
    border-radius: 30px;
    width: 10%;
    font-size: 1.5rem;
    position: relative;
    left: 70%;
    cursor: pointer;
}
.modal-container{
    /* display: none; */
    position: absolute;
    top: 0%;
    background-color: rgba(0, 0, 0, 0.63);
    width: 100%;
    height: 100vh;
}
.modal-content {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #129C12;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    cursor: pointer;
}
.close{
    position: relative;
    left: 95%;
    font-size: 2rem;
    font-weight: bolder;
    color: black;
}
.admin-page{
    flex-basis: 100%;
}
.index-page{
    flex-basis: 100%;

}
.worker-page{
    display: none;
}
.form-container{
    display: grid;
    grid-template-columns: 1fr;
    padding: 40px;
    width: 60%;
    position: relative;
    left: 14%;
}
.item{
    text-align: center;
    font-size: 1.5rem;
}
input{
    padding: 10px;
}
.submit-btn-modal{
    margin-top: 30px;
    padding: 5px;
    border-radius: 15px;
    font-size: 1.2rem;
}
.xmark{
    position: absolute;
    right: 0;
    top: 0;
    width: 5%;
    background-color: black;
    color: white;
}

.loginSuccessful{
    display: flex;
    justify-content: center;
    align-items: center;
    color: green;
    height: 100vh;
    font-size: 5rem;
}

/* admin-tools-page-add-btn START*/
.admin-tools-page-add-btn{
    display: flex;
    position: relative;
    left: 85%;
    padding: 10px 40px;
    background-color: orange;
    text-align: center;
    border-radius: 20px;
}
.admin-add-btn{
    padding: 20px;
}
/* admin-tools-page-add-btn END */
.admin-edit-btn{
    background-color: white;
    border-radius: 10px;
    padding: 5px 20px;
}
.admin-delete-btn{
    background-color: white;
    border-radius: 10px;
    padding: 5px 20px;
}
.admin-tools-page-add{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 40%;
    background-color: #129C12;
    padding: 20px;
    font-size: 1.2rem;
    font-weight: bolder;
}
.popup.worker-form{
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.popup-container{
    background-color: rgba(0, 0, 0, 63%);
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.adminToolDisplay{
    flex-basis: 100%;
}
.worker-table.active{
    visibility:hidden;
    opacity:0;
}
.icon.active{
    visibility: hidden;
}

.popup{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: orange;
    padding: 1rem;
    flex-basis: 60%;
    width: 30%;
    position: relative;
}

#cross{
    color: white;
    position: absolute;
    right: 4px;
    top: 2px;
}

#submit{
    margin: 1rem;
}